.page{
    overflow: hidden;
}
.cover{
    width: 100%;
    height: 100%;
    background: rgba(255, 144, 0, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.container{
    margin:auto;
    height: 342px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    z-index: 100;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.logo_img>img{
    width: 200px;
    height: 200px;
    animation: logoImg 1s;
    border-radius: 50%;
}
@keyframes logoImg{
    from{
        width: 130px;
        height: 130px;
    }
    to{
        width: 200px;
        height: 200px;
    }
}

.container>h1{
    text-align: center;
    transform: rotate(-5deg);
    font-size: 2.5rem;
    animation: name 1s;
    color:#fff;
}
@keyframes name{
    from{
        font-size: 1.25rem;
    }
    to{
        font-size: 2.5rem;
    }
}
.container>h1>span{
    position: relative;
}
.container>h1>span:before{
    position: absolute;
    top: 25px;
    left: 0;
    width: 30px;
    height: 4px;
    content: '';
    background: #fff;
    margin-left: -40px;
}
.container>h1>span:after{
    position: absolute;
    top: 25px;
    right: 0;
    width: 30px;
    height: 4px;
    content: '';
    background: #fff;
    margin-right: -40px;
}

.container h3{
    text-align: center;
    font-size: 1rem;
    animation: job 1s;
    color:#fff;
    font-weight: 400;
}
@keyframes job{
    from{
        font-size: .75rem;
    }
    to{
        font-size: 1rem;
    }
}



.list{
    position: absolute;
    z-index: 100;
    top: 100px;
}
.list li{
    margin-left:-120px;
    width: 100px;
}
.list a{
    display: block;
    padding:0 10px;
    margin:5px 0;
    width: 100%;
    height: 30px;
    background: #fff;
    text-align: right;
    border-radius: 0 10% 10% 0;
}
.set{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 0;
    top: -30px;
    height: 30px;
    background: #fff;
    border-radius: 20%;
    display: block;
}
.set>img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
@media screen and (max-width:768px){
    .list{
        width: 100%;
        position: relative;
        top: 0;
        left: 0;
    }
    .list li{
        width: 100%;
        height: 40px;
    }
    .list li a{
        border-radius:0;
        line-height: 40px;
        height: 40px;
        padding:0;
        margin:0;
        text-align: center;
    }
    .set{
        width: 100%;
        height: 36px;
        border-radius: 0;
        position: relative;
        top: 0;
    }
    .set>img{
        width: 30px;
        height: 30px;
        position: absolute;
        right: 0.7rem;
        top:0.3rem;
    }
}