.skill{
    background: #fff;
}
.skill .title{
    color:#FF9000;
}
.circular{
    width: 100%;
    height: auto;
    overflow: hidden;
}
.circular ul{
    width: 100%;
    margin-top:50px;
}
.circular ul li{
    width: 25%;
    float: left;
    margin-bottom: 40px;
}

.bigone{
    width: 160px;
    height: 160px;
    background: #eee;
    border-radius: 50%;
    position: relative;
    margin:auto;
}
.middle_1,
.middle_2{
    width:80px;
    height: 160px;
    background: none;
    position: absolute;
    overflow: hidden;
    /* 两个矩形都设置了溢出隐藏，那么当我们去旋转矩形里面的圆形的时候，溢出部分就被隐藏掉了，这样我们就可以达到我们想要的效果 */
}
.middle_1{
    left: 0;
}
.middle_2{
    right: 0;
}
.inone{
    width: 160px;
    height: 160px;
    /* 透明的边框 */
    border:9px solid transparent;
    border-radius: 50%;
    position: absolute;
    top:0;
    transform: rotate(45deg);
}
.middle_2>.inone{
    border-top:9px solid #FF9000;
    border-right:9px solid #FF9000;
    right:0;
}
.middle_1>.inone{
    border-bottom:9px solid #FF9000;
    border-left:9px solid #FF9000;
    left:0;
}
.smallone{
    width: 153px;
    height: 153px;
    background: #fff;
    position: absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 20;
    text-align: center;
}
.smallone span{
    width: 100%;
    position: absolute;
    top:50%;
    left: 0;
    transform: translateY(-50%);
}

.progresses{
    margin-top:50px;
    width: 100%;
    height: auto;
}
.progresses ul{
    width: 100%;
    /* background: pink; */
    height: 100%;
}
.progresses ul li{
    width: 50%;
    padding: 0 15px;
    float: left;
    height: 50px;
    margin-bottom:20px;
    /* background: yellow; */
}
.progresses ul li span{
    font-size: 1rem;
    color:#000;
}
.progress{
    width: 100%;
    height: 5px;
    margin-top:10px;
    background: #eee;
    border-radius: 4px;
}
.progress_bar{
    width: 0;
    display: block;
    height: 100%;
	animation: progress-bar-stripes 2s linear infinite;
	background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
	background-size: 40px 40px;
	transition: width 0.6s ease;
}
.progresses ul li:nth-child(1) .progress_bar{
    background-color: #2980b9 !important;
}
.progresses ul li:nth-child(2) .progress_bar{
    background-color: #c0392b !important;
}
.progresses ul li:nth-child(3) .progress_bar{
    background-color: #d35400 !important;
}
.progresses ul li:nth-child(4) .progress_bar{
    background-color: #8e44ad !important;
}
.progresses ul li:nth-child(5) .progress_bar{
    background-color: #27ae60 !important;
}
.progresses ul li:nth-child(6) .progress_bar{
    background-color: #2F3C4F !important;
}
.progresses ul li:nth-child(7) .progress_bar{
    background-color: yellowgreen !important;
}
@keyframes progress-bar-stripes{
    0%{
        background-position:40px 0;
    }
    100%{
        background-position:0 0;
    }
}

@media screen and (max-width:992px){
    .circular ul li{
        width: 50%;
    }
    .progresses ul{
        width: 90%;
        margin:auto;
    }
    .progresses ul li{
        width: 100%;
    }
}
@media screen and (max-width:768px){
    .circular ul{
        margin-top:50px;
    }
    .circular ul li{
        width: 100%;
    }
    .progresses ul{
        width: 100%;
        margin:auto;
    }
}


